# OS / editor
.DS_Store
Thumbs.db
Desktop.ini
*.swp
*.swo

# Logs / temp
*.log
*.tmp
*.bak

# Node/Electron dev artifacts (if present)
node_modules/
.vscode/
.idea/

# Bundle/artefatos pesados do Electron (para manter o repo leve)
/resources/
/locales/

# Binários típicos do bundle (somente na raiz)
/*.exe
/*.dll
/*.pak
/*.bin
/*.dat

# Não ignore o front separado
!/only-front/
!/only-front/**
